.userList {
  flex: 4;
}

.userPageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 10px 10px;
}
 
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userListEditBtn {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDeleteBtn {
  color: red;
  cursor: pointer;
}

.userListAddButton {
  border: none;
  padding: 5px;
  background-color: rgb(10, 110, 241);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.userListTable {
  display: flex;
  height: 85%;
}
